<ion-view view-title="Horários">



    <ion-content class="has-subheader content padding">
        <ion-tabs class="tabs-stable">
        <ion-tab
            title="{{item}}"
            on-select="changeTab($index)"
            ng-repeat="item in ['Dom', 'Seg', 'Ter', 'Quar', 'Qui', 'Sex', 'Sab']" >
        </ion-tab>
    </ion-tabs>
        <ion-list class="card">
            <div ng-repeat="aula in filtered = (aulasWithHorarios | filter: query)">
                <div ng-repeat="horario in aula.horarios">
                    <ion-item class="item-divider">
                        {{horario.horario}}
                    </ion-item>
                    <div ng-repeat="aula in horario.aulas">
                        <ion-item ng-click="openModal(aula)">
                            {{ aula.name }}
                        </ion-item>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-list>
            <ion-item ng-if="filtered.length === 0">
                <small class="text-muted"><em>Nenhuma aula hoje.</em></small>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
