<ion-view view-title="Login">
	<ion-content scrollbar-y="false" style="background-color: #EEE">
			<div class="row" style="height: 100%;">
				<div class="col col-center">				
					<div class="text-center" style="margin-bottom: 120px;">
						<img src="img/logo.png" alt="" width="60%">
					</div>

					<div class="list">
						<label class="item item-input" style="border: 1px solid #E7E7E7">
							<span class="input-label">Matrícula</span>
							<input type="text">
						</label>
						<label class="item item-input" style="border: 1px solid #E7E7E7">
							<span class="input-label">Senha</span>
							<input type="password">
						</label>
					</div>
					<a href="#/app/comunciados" class="button button-positive" style="width: 100%;">Entrar</a>
				</div>
			</div>
	</ion-content>
</ion-view>
