<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
        <div style="background-color: #222; background-image: url(img/menu_bg.jpg); background-size: cover; background-position: center center; color: #FFF; padding: 10px 0 5px 0; margin-bottom: 10px;">
            <div class="row">
                <div class="col text-center">
                    <img src="img/logo.png" width="70%" height="auto" alt="">    
                </div>
            </div>
            <div class="row">
                <div class="col col-center">
                    <h5 style="margin-bottom: 0px; color: #FFF">Daniel de Faria</h5>
                    <small>danielfpedro@gmail.com</small>
                </div>
            </div>
        </div>
        <ion-list class="menu-list">
<!--             <div class="item item-divider">
                Opções
            </div> -->
            <ion-item nav-clear menu-close href="#/app/horarios-aulas" class="item-icon-left">
                <span class="icon ion-ios-calendar-outline"></span> Horários
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/aulas" class="item-icon-left">
                <span class="icon ion-ios-keypad-outline"></span> Aulas
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/meu-treino" class="item-icon-left">
                <span class="icon ion-ios-folder-outline"></span> Meu treino
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/comunicados" class="item-icon-left">
                <span class="icon ion-ios-list-outline"></span> Comunicados
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/caixa-de-sugestoes" class="item-icon-left">
                <span class="icon ion-ios-chatbubble-outline"></span> Caixa de sugestão
            </ion-item>
            <ion-item nav-clear menu-close href="#/logout" class="item-icon-left">
                <span class="icon ion-log-out"></span> Sair
            </ion-item>
<!--             <ion-item nav-clear menu-close href="#/app/horarios-aulas" class="item-icon-left">
                <span class="icon ion-android-calendar"></span> Horários
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/aulas" class="item-icon-left">
                <span class="icon ion-android-apps"></span> Aulas
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/meu-treino" class="item-icon-left">
                <span class="icon ion-android-clipboard"></span> Meu treino
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/comunicados" class="item-icon-left">
                <span class="icon ion-android-mail"></span> Comunicados
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/caixa-de-sugestoes" class="item-icon-left">
                <span class="icon ion-android-textsms"></span> Caixa de sugestão
            </ion-item>
            <ion-item nav-clear menu-close href="#/logout" class="item-icon-left">
                <span class="icon ion-android-exit"></span> Sair
            </ion-item> -->
        </ion-list>
        
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
