<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{ currentAula.name}}</h1>
      <button type="button" class="button button-clear button-positive" ng-click="closeModal()">Fechar</button>
    </ion-header-bar>
    <ion-content>
        <div class="text-center" style="margin: 40px 0">
            <img src="img/BODYPUMP.png" class="image-full">      
        </div>
      
        <p class="padding">
            Uma aula intensa e cheia de energia, desenvolvida para os amantes de condicionamento físico intenso, obtido através de movimentos inspirados nos esportes (aeróbica, basquete, voleibol, atletismo), com combinações simples, trabalhos de força e estabilização.  
        </p>
      <ion-list>
        <ion-item class="item-divider">
          Horarios
        </ion-item>
        <ion-item>
          <h2>Segunda-feira</h2>
          <p>10:00, 11:00, 15:00, 18:30</p>
        </ion-item>
          <ion-item>
          <h2>Terça-feira</h2>
          <p>10:00, 11:00, 15:00, 18:30</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-modal-view>