/* Empty. Add your own CSS if you like */
.textarea-big{
	width: 100%!important;
}

.menu-list .list .item:first-child{
	border: 0;
}
.menu-list .list .item{
	border: #1F1F1F solid 1px;
}
.menu-list .list .item .item-content{
	color: #FFF;
}

.menu-list .list .item .item-content, .menu{
	background-color: #111;
}

.scroll{
	height: 100%;
}
.platform-android .scroll-content{
	margin-top: 0;
	margin-bottom:0;
	padding-top:0;
}